<div class="index-main-body">
    <div class="index-main-info">
        <div class="index-main-text">
            <h1 class="header-text">Find an Event.</h1>
            <h1 class="header-text">Stay active.</h1>
            <h1 class="header-text">Play Today.</h1>
            <h3 class="sub-header-text">SportsDay matches YOU with competitive sport events.
            </h3>
        </div>
        <div class="d-flex align-center">
            <div class="p-3"><a href="#play-now" class="main-button">Find a event now</a></div>
            <div class="p-3"><a href="#find-out-more" class="green-button">Create an event</a></div>
        </div>
    </div>
    <div class="index-main-image">

    </div>

</div>